@use "../../sass/variables";

.bigCard {
  background-color: white;
  padding: 10px;
  border-radius: 8px;

  img {
    width: 100%;
    border-radius: 8px;
  }

  h3 {
    margin: 0;
  }

  .date-container {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      color: variables.$secondary-text;
      margin: 0;
    }

    .icon {
      color: variables.$secondary-text;
    }
  }
}
