@use "../../sass/variables";

.gridCard {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 220px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    border-radius: 8px;
  }

  h3 {
    margin: 0;
    font-size: 16px;
  }

  .date-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

    p {
      color: variables.$secondary-text;
      margin: 0;
    }

    .icon {
      color: variables.$secondary-text;
    }
  }
}
