@use "../../sass/variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    text-align: center;
    margin: 0;
    display: inline-flex;
    font-size: 14px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 4px 14px;
    border-radius: 50px;
    text-transform: capitalize;
    z-index: 10;
    background-color: variables.$background-color;
    text-transform: uppercase;
    font-weight: 700;
  }

  .hr {
    background-color: black;
    // border: 1px solid black;
    width: 100%;
    margin-top: -36px;
    margin-bottom: 30px;
  }

  button {
    background-color: blue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
