@use "../../sass/variables";

.smallCard {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin: 10px 0;

  .smallCard__img-container {
    display: flex;
    padding: 10px;

    img {
      width: 140px;
      border-radius: 8px;
    }
  }

  .smallCard__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      margin: 0;
      font-size: 16px;
      margin-right: 10px;
    }

    .date-container {
      display: flex;
      gap: 10px;
      align-items: center;

      p {
        color: variables.$secondary-text;
        margin: 0;
      }

      .icon {
        color: variables.$secondary-text;
      }
    }
  }
}
