@use "./sass/variables";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;

  .container {
    background-color: variables.$background-color;
    width: 50%;
    min-height: 90vh;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px 0;
  }
}
